@import "tailwindcss";

@theme {
  --color-electric-blue: #00B4FF;
  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}

body {
  @apply bg-black text-white font-body antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}